/*INDEX*/
.parrafo{
    color: white;
    font-family: Quicksand;
    display: flex;
    justify-content: center;
}
.parrafo-2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Quicksand;
    font-size: x-large;
}
.link{
    text-decoration: none;
    color: white;
    font-family: Quicksand;   
}
.botones{
  display: flex;
  justify-content: space-around;
}